---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.0/me
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer invalid_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Tue, 07 Apr 2015 06:22:32 GMT
recorded_with: VCR 2.9.3
