---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/plus/v1/people/me/people/visible?pp=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth ya29.TwE-Usj1SWrqLIQMUxzJy9-3y5pQoTY9Ar7RgJTAPMSNxYBO3fN3xH9SPfvbL2gDrc7jFC5iEJ8Zhg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"RqKWnRU4WW46-6W3rWhLR9iFZQM/hG0wRUwF_oCqQg70YRLgDUY3P7U"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: '{"kind":"plus#peopleFeed","etag":"\"RqKWnRU4WW46-6W3rWhLR9iFZQM/hG0wRUwF_oCqQg70YRLgDUY3P7U\"","title":"Google+
        List of Visible People","totalItems":28,"items":[{"kind":"plus#person","etag":"\"RqKWnRU4WW46-6W3rWhLR9iFZQM/d7NQ3JXwC1XDzNlKKWonA-tjoTA\"","objectType":"page","id":"108967384991768947849","displayName":"Android
        Developers","url":"https://plus.google.com/+AndroidDevelopers","image":{"url":"https://lh3.googleusercontent.com/-mGTYed3Uh-E/AAAAAAAAAAI/AAAAAAAAF58/qNYbk4mMhI0/photo.jpg?sz=50"}},{"kind":"plus#person","etag":"\"RqKWnRU4WW46-6W3rWhLR9iFZQM/jcSsLNMACI_t4zTq0qjpm5Na6Tc\"","objectType":"person","id":"109247837517983808140","displayName":"Caroline
        Gordon","url":"https://plus.google.com/+CarolineGordon","image":{"url":"https://lh5.googleusercontent.com/-baIlIfA1OCQ/AAAAAAAAAAI/AAAAAAABYrE/qQa5SMiU1Oo/photo.jpg?sz=50"}},{"kind":"plus#person","etag":"\"RqKWnRU4WW[...]
