---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token?client_id=1053743633063-aaearku9rl008rc8vq7muvreifc4jbo8.apps.googleusercontent.com&client_secret=rK6Fkmo6qpiiy0_SnWJDOlgv&code=4/JmRLax65GOYa3d55DRch5BXOIPR1XiNyjjzMbSdDpwI.clRMI8oUmeoSgrKXntQAax1mheVimQI&grant_type=authorization_token&redirect_uri=rK6Fkmo6qpiiy0_SnWJDOlgv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "error": "invalid_request",
         "error_description": "Invalid grant_type: authorization_token"
        }
  recorded_at: Mon, 13 Apr 2015 06:32:50 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token?client_id=1053743633063-aaearku9rl008rc8vq7muvreifc4jbo8.apps.googleusercontent.com&client_secret=rK6Fkmo6qpiiy0_SnWJDOlgv&code=4/JmRLax65GOYa3d55DRch5BXOIPR1XiNyjjzMbSdDpwI.clRMI8oUmeoSgrKXntQAax1mheVimQI&grant_type=authorization_code&redirect_uri=rK6Fkmo6qpiiy0_SnWJDOlgv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "error": "invalid_request",
         "error_description": "Invalid parameter value for redirect_uri: Missing scheme: rK6Fkmo6qpiiy0_SnWJDOlgv"
        }
  recorded_at: Mon, 13 Apr 2015 06:33:26 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token?client_id=1053743633063-aaearku9rl008rc8vq7muvreifc4jbo8.apps.googleusercontent.com&client_secret=rK6Fkmo6qpiiy0_SnWJDOlgv&code=4/JmRLax65GOYa3d55DRch5BXOIPR1XiNyjjzMbSdDpwI.clRMI8oUmeoSgrKXntQAax1mheVimQI&grant_type=authorization_code&redirect_uri=http://epl.pcd.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "error": "redirect_uri_mismatch",
         "error_description": "Bad Request"
        }
  recorded_at: Mon, 13 Apr 2015 06:33:49 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token?client_id=1053743633063-aaearku9rl008rc8vq7muvreifc4jbo8.apps.googleusercontent.com&client_secret=rK6Fkmo6qpiiy0_SnWJDOlgv&code=4/JmRLax65GOYa3d55DRch5BXOIPR1XiNyjjzMbSdDpwI.clRMI8oUmeoSgrKXntQAax1mheVimQI&grant_type=authorization_code&redirect_uri=https://epl.pcd.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "error": "invalid_grant",
         "error_description": "Code was already redeemed."
        }
  recorded_at: Mon, 13 Apr 2015 06:35:06 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token?client_id=1053743633063-aaearku9rl008rc8vq7muvreifc4jbo8.apps.googleusercontent.com&client_secret=rK6Fkmo6qpiiy0_SnWJDOlgv&code=4/_MXoUVxmoY5mFnEpe3CWZVFb-OJPYsXoeteeQGdtnnY.Mmqu9f2WIj4fBrG_bnfDxpKMlPpimQI&grant_type=authorization_code&redirect_uri=https://epl.pcd.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "error": "invalid_grant",
         "error_description": "Code was already redeemed."
        }
  recorded_at: Mon, 13 Apr 2015 06:36:11 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token?client_id=1053743633063-aaearku9rl008rc8vq7muvreifc4jbo8.apps.googleusercontent.com&client_secret=rK6Fkmo6qpiiy0_SnWJDOlgv&code=4/IOD4Jpjs2K3hpbv0BpumCW9foPnVD2qbdRH-1KvhZLQ.QtFB4DGDkOgZBrG_bnfDxpLAjPximQI&grant_type=authorization_code&redirect_uri=https://epl.pcd.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "error": "redirect_uri_mismatch",
         "error_description": "Bad Request"
        }
  recorded_at: Mon, 13 Apr 2015 06:36:51 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token?client_id=1053743633063-aaearku9rl008rc8vq7muvreifc4jbo8.apps.googleusercontent.com&client_secret=rK6Fkmo6qpiiy0_SnWJDOlgv&code=4/HEIffu4kt56jLnQswQvH4ljaIib1LA6ylFrFFQ6mseo.Akx5-l7JIGoWBrG_bnfDxpIcOw9jmQI&grant_type=authorization_code&redirect_uri=https://epl.pcd.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "error": "invalid_grant",
         "error_description": "Code was already redeemed."
        }
  recorded_at: Mon, 13 Apr 2015 06:47:30 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token?client_id=1053743633063-aaearku9rl008rc8vq7muvreifc4jbo8.apps.googleusercontent.com&client_secret=rK6Fkmo6qpiiy0_SnWJDOlgv&code=4/tADLvbfsrV_QMHpMfSYnkbrSknKr-ouiYziP7wDSpKU.Aijw9R2uJ6EdBrG_bnfDxpJm8BZjmQI&grant_type=authorization_code&redirect_uri=https://developers.google.com/oauthplayground
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "ya29.VAFpo3rf5THqV8lTw1c2t0hVMH3o3BexhBXEpYm_Zt_XIUK-AsZHTvRvbZ47axvYC0PXOrTVAUEIUg",
         "token_type": "Bearer",
         "expires_in": 3600,
         "refresh_token": "1/Qyd2Mbizw_z_jI-3-dfyWtXh2Q2Bhr5q_gK8WlcfWk590RDknAdJa_sgfheVM0XT",
         "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjBlMDYzZGUwYzlmNjY4NmRlYjY2ZTc0NTRiMzIwMWMxMTE0ZWJhNmUifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwic3ViIjoiMTE3NjUyMDUwMDkwMzk0MjQ5NDYyIiwiYXpwIjoiMTA1Mzc0MzYzMzA2My1hYWVhcmt1OXJsMDA4cmM4dnE3bXV2cmVpZmM0amJvOC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoiZGF3aWxzdGVyMTQzQGdtYWlsLmNvbSIsImF0X2hhc2giOiJpOXdqQ25FcE05bVludGtmdWRTeFBRIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF1ZCI6IjEwNTM3NDM2MzMwNjMtYWFlYXJrdTlybDAwOHJjOHZxN211dnJlaWZjNGpibzguYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJpYXQiOjE0Mjg5MDc4ODMsImV4cCI6MTQyODkxMTQ4M30.RBmGiJclJ0fe2f6r8g_8CYvn347cckto0a10gBRgL73MkjSA_UF-L0peJrlpIM_vlONKuyd6kW2ELvITbCxKshsdI7TzB5-r8hTvDnaFTvdoI7w4pBZWy2UYML53PRzIpIJnm0bcVwlF7Vnipd1n4hgxfaY9_tYbFY64X-NgpqA"
        }
  recorded_at: Mon, 13 Apr 2015 06:51:23 GMT
recorded_with: VCR 2.9.3
