---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/plus/v1/people/me?pp=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth ya29.TwE-Usj1SWrqLIQMUxzJy9-3y5pQoTY9Ar7RgJTAPMSNxYBO3fN3xH9SPfvbL2gDrc7jFC5iEJ8Zhg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"RqKWnRU4WW46-6W3rWhLR9iFZQM/oB9pPaM45R0uz8AWm-aMT-L7Bbw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: '{"kind":"plus#person","etag":"\"RqKWnRU4WW46-6W3rWhLR9iFZQM/oB9pPaM45R0uz8AWm-aMT-L7Bbw\"","gender":"male","emails":[{"value":"dawilster143@gmail.com","type":"account"}],"urls":[{"value":"https://twitter.com/willports","type":"otherProfile","label":"Twitter"},{"value":"http://wrapbootstrap.com/user/william","type":"otherProfile","label":"Bootstrap
        Template developer"}],"objectType":"person","id":"117652050090394249462","displayName":"William
        Porter","name":{"familyName":"Porter","givenName":"William"},"url":"https://plus.google.com/117652050090394249462","image":{"url":"https://lh3.googleusercontent.com/-pM_u9D4Qq_o/AAAAAAAAAAI/AAAAAAAAAZ0/5LI0IQyn4EA/photo.jpg?sz=50","isDefault":false},"organizations":[{"name":"RMIT
        University","title":"Computer Science","type":"school","startDate":"2012","primary":true},{"name":"psdtobootstrap.com","title":"Lead
        Developer","type":"work","startDate":"2012","primary":true}],"placesLived":[{"value":"Melbourne"}],"isPlusUser":true,"language":"en_GB","ageRange":{"min":21},"circledByCount":23,"verified":false,"cover":{"layout":"banner","coverPhoto":{"url":"https://lh3.googleusercontent.com/-IxRknD2180s/UcojKSfeWII/AAAAAAAABkA/IKXa_LVQP0U/s630-fcrop64=1,200e2ecddf77d131/%25C2%25A9%2BAravind%2BKrishnaswamy_20120408-%252818_58_48%2529-sobranes-arch-s2-0387-Edit.jpg","height":624,"width":940},"coverInfo":{"topImageOffset":0,"leftImageOffset":0}}}'
  recorded_at: Wed, 08 Apr 2015 01:17:19 GMT
recorded_with: VCR 2.9.3
