---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="MxzWRgtXC2CVc71azEnN9u2Df", oauth_nonce="6f1ea2df5573cae38c988fae92d7dba8",
        oauth_signature="%2F%2BCPIFDXgGvRfwvok7YatjDH94w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1427945979", oauth_token="410739240-pHPJnKJsQufXJXrH2j2gmhWx923Y4O3b1ziOZ3gi",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 02 Apr 2015 03:39:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - feddd049c7f3a54e5d3002f41f662c2a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1427946649'
      X-Response-Time:
      - '32'
      X-Transaction:
      - 0842aeabc3b17269
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":410739240,"id_str":"410739240","name":"William Porter","screen_name":"willports","location":"Melbourne,
        Australia","profile_location":null,"description":"Startup enthusiast, basketballer,
        computer science major at RMIT and software developer at Papercloud","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":232,"friends_count":404,"listed_count":22,"created_at":"Sat
        Nov 12 14:09:45 +0000 2011","favourites_count":38,"utc_offset":39600,"time_zone":"Melbourne","geo_enabled":false,"verified":false,"statuses_count":163,"lang":"en","status":{"created_at":"Thu
        Feb 05 08:20:26 +0000 2015","id":563250784351948800,"id_str":"563250784351948800","text":"RT
        @PapercloudAUS: Our new website has just launched! Check out some of our latest
        work. http:\/\/t.co\/3HUXlv7HUE http:\/\/t.co\/vAHoOzCWzf","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Feb 04 23:53:59 +0000 2015","id":563123334750027776,"id_str":"563123334750027776","text":"Our
        new website has just launched! Check out some of our latest work. http:\/\/t.co\/3HUXlv7HUE
        http:\/\/t.co\/vAHoOzCWzf","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":4,"favorite_count":5,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/3HUXlv7HUE","expanded_url":"http:\/\/papercloud.com.au\/","display_url":"papercloud.com.au","indices":[70,92]}],"media":[{"id":563123333667880961,"id_str":"563123333667880961","indices":[93,115],"media_url":"http:\/\/pbs.twimg.com\/media\/B9CdsDwCAAEjQ7J.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/B9CdsDwCAAEjQ7J.png","url":"http:\/\/t.co\/vAHoOzCWzf","display_url":"pic.twitter.com\/vAHoOzCWzf","expanded_url":"http:\/\/twitter.com\/PapercloudAUS\/status\/563123334750027776\/photo\/1","type":"photo","sizes":{"large":{"w":800,"h":800,"resize":"fit"},"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"}}}]},"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"en"},"retweet_count":4,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"PapercloudAUS","name":"Papercloud","id":604417908,"id_str":"604417908","indices":[3,17]}],"urls":[{"url":"http:\/\/t.co\/3HUXlv7HUE","expanded_url":"http:\/\/papercloud.com.au\/","display_url":"papercloud.com.au","indices":[89,111]}],"media":[{"id":563123333667880961,"id_str":"563123333667880961","indices":[112,134],"media_url":"http:\/\/pbs.twimg.com\/media\/B9CdsDwCAAEjQ7J.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/B9CdsDwCAAEjQ7J.png","url":"http:\/\/t.co\/vAHoOzCWzf","display_url":"pic.twitter.com\/vAHoOzCWzf","expanded_url":"http:\/\/twitter.com\/PapercloudAUS\/status\/563123334750027776\/photo\/1","type":"photo","sizes":{"large":{"w":800,"h":800,"resize":"fit"},"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"}},"source_status_id":563123334750027776,"source_status_id_str":"563123334750027776","source_user_id":604417908,"source_user_id_str":"604417908"}]},"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2421220373\/u8kjwo6me39pos7nolzj_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2421220373\/u8kjwo6me39pos7nolzj_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 02 Apr 2015 03:39:44 GMT
[...]
