---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="MxzWRgtXC2CVc71azEnN9u2Df", oauth_nonce="20190b8132cb1975dbb51741cfba9124",
        oauth_signature="%2Bhqz%2BrXNYo%2BcUKiuI9TGoP4mAkY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1428455046", oauth_token="410739240-pHPJnKJsQufXJXrH2j2gmhWx923Y4O3b1ziOZ3gi",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Apr 2015 01:04:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - edd302fa0d74132e79ffba548893d7ba
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1428455343'
      X-Response-Time:
      - '83'
      X-Transaction:
      - 42be2a515333db53
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":410739240,"id_str":"410739240","name":"William Porter","screen_name":"willports","location":"Melbourne,
        Australia","profile_location":null,"description":"Startup enthusiast, basketballer,
        computer science major at RMIT and software developer at Papercloud","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":232,"friends_count":404,"listed_count":22,"created_at":"Sat
        Nov 12 14:09:45 +0000 2011","favourites_count":38,"utc_offset":36000,"time_zone":"Melbourne","geo_enabled":false,"verified":false,"statuses_count":163,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2421220373\/u8kjwo6me39pos7nolzj_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2421220373\/u8kjwo6me39pos7nolzj_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Wed, 08 Apr 2015 01:04:07 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/ids.json?cursor=-1&user_id=410739240
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="MxzWRgtXC2CVc71azEnN9u2Df", oauth_nonce="d242e5f600ff5ea03eb64d7c9e476ed2",
        oauth_signature="Ov14TQuYA9Vl54TOi4pqyTh2HeI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1428455047", oauth_token="410739240-pHPJnKJsQufXJXrH2j2gmhWx923Y4O3b1ziOZ3gi",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Apr 2015 01:04:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b839e394c62edf46e85e06c0920923cf
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1428455948'
      X-Response-Time:
      - '107'
      X-Transaction:
      - fcdf309541943fa5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"ids":[15169196,14321259,170662357,16601619,19080399,372041439,592535210,13334762,209058378,226993426,236588417,11348282,252481460,311340284,1008000139,289969718,35432131,990244189,65517538,1704785540,19691971,34605923,2526229286,26241538,16731023,604417908,34224632,291049995,118029798,22955180,47334057,278825529,358052219,1306819549,173006018,489068782,483409655,280612866,1946120082,826510740,95943980,40175742,21502768,974616096,47273137,35115377,14610920,4959061,10173942,567200327,184997446,81291664[...]
