---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="MxzWRgtXC2CVc71azEnN9u2Df", oauth_nonce="977f1eab5462c329d0195b9c61d2dff0",
        oauth_signature="dJVOoIiH2JpgVybxctM%2BQOCZ%2BTE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1428466719", oauth_token="410739240-pHPJnKJsQufXJXrH2j2gmhWx923Y4O3b1ziOZ3gi",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Apr 2015 04:18:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fbbb804e4a0f6823579f736d9de48c85
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1428467622'
      X-Response-Time:
      - '137'
      X-Transaction:
      - 27e4789a08dd5929
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":410739240,"id_str":"410739240","name":"William Porter","screen_name":"willports","location":"Melbourne,
        Australia","profile_location":null,"description":"Startup enthusiast, basketballer,
        computer science major at RMIT and software developer at Papercloud","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":232,"friends_count":404,"listed_count":22,"created_at":"Sat
        Nov 12 14:09:45 +0000 2011","favourites_count":38,"utc_offset":36000,"time_zone":"Melbourne","geo_enabled":false,"verified":false,"statuses_count":163,"lang":"en","status":{"created_at":"Thu
        Feb 05 08:20:26 +0000 2015","id":563250784351948800,"id_str":"563250784351948800","text":"RT
        @PapercloudAUS: Our new website has just launched! Check out some of our latest
        work. http:\/\/t.co\/3HUXlv7HUE http:\/\/t.co\/vAHoOzCWzf","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Feb 04 23:53:59 +0000 2015","id":563123334750027776,"id_str":"563123334750027776","text":"Our
        new website has just launched! Check out some of our latest work. http:\/\/t.co\/3HUXlv7HUE
        http:\/\/t.co\/vAHoOzCWzf","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":4,"favorite_count":5,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/3HUXlv7HUE","expanded_url":"http:\/\/papercloud.com.au\/","display_url":"papercloud.com.au","indices":[70,92]}],"media":[{"id":563123333667880961,"id_str":"563123333667880961","indices":[93,115],"media_url":"http:\/\/pbs.twimg.com\/media\/B9CdsDwCAAEjQ7J.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/B9CdsDwCAAEjQ7J.png","url":"http:\/\/t.co\/vAHoOzCWzf","display_url":"pic.twitter.com\/vAHoOzCWzf","expanded_url":"http:\/\/twitter.com\/PapercloudAUS\/status\/563123334750027776\/photo\/1","type":"photo","sizes":{"large":{"w":800,"h":800,"resize":"fit"},"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"}}}]},"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"en"},"retweet_count":4,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"PapercloudAUS","name":"Papercloud","id":604417908,"id_str":"604417908","indices":[3,17]}],"urls":[{"url":"http:\/\/t.co\/3HUXlv7HUE","expanded_url":"http:\/\/papercloud.com.au\/","display_url":"papercloud.com.au","indices":[89,111]}],"media":[{"id":563123333667880961,"id_str":"563123333667880961","indices":[112,134],"media_url":"http:\/\/pbs.twimg.com\/media\/B9CdsDwCAAEjQ7J.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/B9CdsDwCAAEjQ7J.png","url":"http:\/\/t.co\/vAHoOzCWzf","display_url":"pic.twitter.com\/vAHoOzCWzf","expanded_url":"http:\/\/twitter.com\/PapercloudAUS\/status\/563123334750027776\/photo\/1","type":"photo","sizes":{"large":{"w":800,"h":800,"resize":"fit"},"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"}},"source_status_id":563123334750027776,"source_status_id_str":"563123334750027776","source_user_id":604417908,"source_user_id_str":"604417908"}]},"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2421220373\/u8kjwo6me39pos7nolzj_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2421220373\/u8kjwo6me39pos7nolzj_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Wed, 08 Apr 2015 04:18:42 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="MxzWRgtXC2CVc71azEnN9u2Df", oauth_nonce="ef36daac00e7cf33200d628d3df2e43b",
        oauth_signature="YDsbaRfrqAoLWC%2F93xLxdOs2fKg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1428466725", oauth_token="410739240-pHPJnKJsQufXJXrH2j2gmhWx923Y4O3b1z[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/ids.json?cursor=-1&user_id=410739240
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="MxzWRgtXC2CVc71azEnN9u2Df", oauth_nonce="9aeda46e9bd8147dab089d89cc601b44",
        oauth_signature="SwxUC0slOVhtQrVwbwIXrTQn3%2Bk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1428466726", oauth_token="410739240-pHPJnKJsQufXJXrH2j2gmhWx923Y4O3b1ziOZ3gi",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Apr 2015 04:18:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 90c1d079d5434ea6471df74b498da9f9
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1428467627'
      X-Response-Time:
      - '116'
      X-Transaction:
      - 203c5402aea3afc7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"ids":[15169196,14321259,170662357,16601619,19080399,372041439,592535210,13334762,209058378,226993426,236588417,11348282,252481460,311340284,1008000139,289969718,35432131,990244189,65517538,1704785540,19691971,34605923,2526229286,26241538,16731023,604417908,34224632,291049995,118029798,22955180,47334057,278825529,358052219,1306819549,173006018,489068782,483409655,280612866,1946120082,826510740,95943980,40175742,21502768,974616096,47273137,35115377,14610920,4959061,10173942,567200327,184997446,81291664[...]
